.form-card{

    width:100%;

    max-width:950px;

    background:white;

    border-radius:24px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.form-card h1{

    color:#0F4C81;

    margin-bottom:8px;

}

.form-card p{

    color:#64748B;

    margin-bottom:35px;

}